# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
.venv/

# Environment variables
.env
# .env.*

# Django
*.log
db.sqlite3

# Static & Media
staticfiles/
media/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db


Technical Assessment_ Software Developer (Python_Django).pdf